Module 3: Data storage

In [31]:
import pickle  # pickle is used to store python objects in a file
import json  # json is used to store python objects in a file
import sqlite3  # sqlite3 is used to store python objects in a file

1. What does the following code do?

In [32]:
d = {"a": 1, "b": 2, "c": 3}  # create a dictionary
b = pickle.dumps(d)  # pickle the dictionary into a bytes object
print(type(b))  # print the type of the bytes object
print(b)
newD = pickle.loads(b)  # unpickle the bytes object into a dictionary
print(newD)  # print the dictionary

<class 'bytes'>
b'\x80\x04\x95\x17\x00\x00\x00\x00\x00\x00\x00}\x94(\x8c\x01a\x94K\x01\x8c\x01b\x94K\x02\x8c\x01c\x94K\x03u.'
{'a': 1, 'b': 2, 'c': 3}

The provided code demonstrates the usage of the `pickle` module in Python. Here's what it does:

1. Creates a dictionary `d` with three key-value pairs.
2. Serializes the dictionary `d` using `pickle.dumps()`, which converts the dictionary into a binary string representation that can be stored or transmitted.
3. Prints the type of the serialized object `b`, which will indicate that it is of type `bytes`.
4. Prints the serialized object `b`, displaying the binary string representation of the dictionary.
5. Deserializes the binary string `b` back into a Python object using `pickle.loads()`, reconstructing the original dictionary.
6. Prints the deserialized object `newD`, confirming that it is the same as the original dictionary `d`.

The `pickle` module in Python provides functionality for serializing (pickling) and deserializing (unpickling) Python objects. It is commonly used for object persistence, data storage, and inter-process communication.

2. Given the following Python data structures, convert your choice of data structure to json and print it to see what it looks like.

In [33]:
# Given the following Python data structures, convert your choice of data structure to json and print it to see what it looks like.
d = {"Dept": "CIS", "Course number": "41B", "Students": 40}
dod = {"Dept": "CIS", "Course number": "41B", "Students": {123: "Fred", 345: "Wilma", 456: "Pebbles", 678: "Bam Bam"}}
dol = {"Dept": "CIS", "Course number": "41B", "Students": ["Fred", "Wilma", "Pebbles", "Bam Bam"]}
l = ["Fred", "Wilma", "Pebbles", "Bam Bam"]

# what does this code do?
with open("data.json", "w") as fh:  # open a file for writing
    json.dump(d, fh, indent=3)  # write the dictionary d to the file with 3 spaces of indentation

with open("data.json", "r") as fh:  # open the file for reading
    d = json.load(fh)  # load the json data from the file into the dictionary d
print(d)

# This code creates a json file with the data from the dictionary d. The json file is indented with 3 spaces.

{'Dept': 'CIS', 'Course number': '41B', 'Students': 40}

3. Describe the steps in the following code and describe the database that's created.

In [34]:
# Describe the steps in the following code and describe the database that's created.
conn = sqlite3.connect("students1.db")  # connect to the database file
cur = conn.cursor()  # create a cursor object
cur.execute("DROP TABLE IF EXISTS StudentsDB")  # drop the table if it exists

# create a table called StudentsDB with 4 columns: sid, name, gpa, yearInSchool
cur.execute(
    """CREATE TABLE StudentsDB(                 
                   sid INTEGER NOT NULL PRIMARY KEY,
                   name TEXT,
                   gpa REAL,
                   yearInSchool INT)"""
)

# insert 10 rows of data into the table
cur.execute(
    """INSERT INTO StudentsDB 
               VALUES
               (1234, 'Ada', 3.56, 2),
               (3495, 'Guido', 3.21, 1),
               (9239, 'Steve', 2.15, 3),
               (3941, 'Sally', 3.92, 2),
               (2874, 'Aretha', 3.40, 3), 
               (8412, 'Michio', 3.18, 2),
               (1825, 'Mark', 2.39, 1),
               (2946, 'Salman', 3.85, 2),
               (1038, 'Jhumpa', 3.68, 1),
               (1057, 'Carlos', 2.19, 1)"""
)

# commit the changes to the database
conn.commit()

4. Print all of the database to verify.

In [35]:
# Print all of the database to verify
cur.execute("SELECT * FROM StudentsDB")
for row in cur:
    print(row)

# # close the connection to the database
# conn.close()

(1038, 'Jhumpa', 3.68, 1)
(1057, 'Carlos', 2.19, 1)
(1234, 'Ada', 3.56, 2)
(1825, 'Mark', 2.39, 1)
(2874, 'Aretha', 3.4, 3)
(2946, 'Salman', 3.85, 2)
(3495, 'Guido', 3.21, 1)
(3941, 'Sally', 3.92, 2)
(8412, 'Michio', 3.18, 2)
(9239, 'Steve', 2.15, 3)

5. Use the user iniput to add one more student to the database. Then in a separate step, add the gpa to 4.0

In [36]:
# Use the user input to add one more student to the database. Then in a separate step, add the GPA to 4.0
name = input("Enter student name: ")
id = input("Enter student ID: ")
year = input("Enter year in school: ")
gpa = input("Enter GPA: ") # whoops, should have done in separate step

conn = sqlite3.connect("students1.db")  # connect to the database file
cur = conn.cursor()  # create a cursor object

# insert a row of data into the table
cur.execute("INSERT INTO StudentsDB VALUES (?, ?, ?, ?)", (id, name, gpa, year))
conn.commit()  # commit the changes to the database

# Print all of the database to verify
cur.execute("SELECT * FROM StudentsDB")
for row in cur:
    print(row)

IntegrityError: UNIQUE constraint failed: StudentsDB.sid

6. Search for one student

In [ ]:
# search for a student by id
id = input("Enter student id: ")
# How to search: SELECT * FROM StudentsDB WHERE sid = 1234
# meaning: select all columns from StudentsDB where sid = 1234
cur.execute("SELECT * FROM StudentsDB WHERE sid = ?", (id,))
# fetch the first row of the result
# result is a tuple of the values in the row
row = cur.fetchone()
# if the row is None, the student was not found
if row is None:
    print("Student not found")
else:
    print(row)

(1234, 'Hopper, Grace', 1, 3.78, 1)

7. print the names of all the students

In [38]:
# Print the names of all students
cur.execute("SELECT name FROM StudentsDB")
for row in cur:
    print(row[0])

#alt
for name in cur.execute("SELECT name FROM StudentsDB"):
    print(name[0])

VanRossum, Guido
Lopez, Jennifer
Rice, Jerry
Kaku, Michio
Hopper, Grace
Jung, Andrea
VanRossum, Guido
Lopez, Jennifer
Rice, Jerry
Kaku, Michio
Hopper, Grace
Jung, Andrea

8. print the name and gpa of all students with gpa > 3.0, in ascending order of gpa.<br/>Then print all student records where the year in school is between 2 and 3

In [41]:
# print the name and gpa of all students with gpa > 3.0 in ascending order of gpa
# New things: WHERE, ORDER BY
# WHERE is used to filter the rows
# ORDER BY is used to sort the rows by a column, default is ascending order
# to sort in descending order, add DESC after the column name

## OLD
# cur.execute("SELECT name, gpa FROM StudentsDB WHERE gpa > 3.0 ORDER BY gpa")
# for row in cur:
#     print(f"Name: {row[0]}, GPA: {row[1]}")

## NEW
# for name, gpa in cur.execute("SELECT name, gpa FROM StudentsDB WHERE gpa > 3.0 ORDER BY gpa"):
#     print(f"Name: {name}, GPA: {gpa}")

## NEWER
cur.execute("SELECT name, gpa FROM StudentsDB WHERE gpa > 3.0 ORDER BY gpa")
for record in cur.fetchall():
    print(f"Name: {record[0]}, GPA: {record[1]}")

Name: Lopez, Jennifer, GPA: 3.28
Name: Jung, Andrea, GPA: 3.67
Name: Hopper, Grace, GPA: 3.78
Name: Kaku, Michio, GPA: 3.82

9. Close the connection to the database

In [42]:
# close the connection to the database
conn.close()
# Q: When should a connection be closed?
# A: When the program is done with the database

10. How are the tables in this database related?

In [43]:
conn = sqlite3.connect("students2.db")
cur = conn.cursor()

cur.execute("DROP TABLE IF EXISTS States")
cur.execute(
    """CREATE TABLE States(             
                   id INTEGER NOT NULL PRIMARY KEY,
                   state TEXT UNIQUE ON CONFLICT IGNORE)"""
)
cur.execute("DROP TABLE IF EXISTS Towns")
cur.execute(
    """CREATE TABLE Towns(             
                   id INTEGER NOT NULL PRIMARY KEY UNIQUE,
                   town TEXT UNIQUE ON CONFLICT IGNORE,
                   state_id INTEGER)"""
)
cur.execute("DROP TABLE IF EXISTS Majors")
cur.execute(
    """CREATE TABLE Majors(             
                   id INTEGER NOT NULL PRIMARY KEY UNIQUE,
                   major TEXT UNIQUE ON CONFLICT IGNORE)"""
)
cur.execute("DROP TABLE IF EXISTS StudentsDB")
cur.execute(
    """CREATE TABLE StudentsDB(             
                   sid INTEGER NOT NULL PRIMARY KEY UNIQUE,
                   name TEXT,
                   major_id INTEGER,
                   gpa REAL,
                   town_id INTEGER)"""
)

students = [
    (1234, "Hopper, Grace", "CS", 3.78, "New York", "NY"),
    (947, "Kaku, Michio", "Physics", 3.82, "San Jose", "CA"),
    (235, "VanRossum, Guido", "CS", 2.72, "San Francisco", "CA"),
    (439, "Lopez, Jennifer", "Music", 3.28, "Los Angeles", "CA"),
    (673, "Rice, Jerry", "Business", 2.75, "San Francisco", "CA"),
    (8222, "Jung, Andrea", "Business", 3.67, "New York", "NY"),
]

for record in students:
    cur.execute("""INSERT INTO States (state) VALUES (?)""", (record[5],))
    cur.execute("SELECT id FROM States WHERE state = ? ", (record[5],))
    state_id = cur.fetchone()[0]

    cur.execute("""INSERT INTO Towns (town, state_id) VALUES (?, ?)""", (record[4], state_id))
    cur.execute("SELECT id FROM Towns WHERE town = ? ", (record[4],))
    town_id = cur.fetchone()[0]

    cur.execute("""INSERT INTO Majors (major) VALUES (?)""", (record[2],))
    cur.execute("SELECT id FROM Majors WHERE major = ? ", (record[2],))
    major_id = cur.fetchone()[0]

    cur.execute(
        """INSERT INTO StudentsDB
        (sid, name, major_id, gpa, town_id) 
        VALUES ( ?, ?, ?, ?, ? )""",
        (record[0], record[1], major_id, record[3], town_id),
    )

conn.commit()

# Q: how are the tables in this database related?
# A: the tables are related by the id columns in each table that are used as foreign keys in other tables
# In other words, the id columns in each table are used to refer to a row in another table

# Q: where is the data stored after conn.commit()?
# A: in the database file students2.db which is in the same directory as this file

11. Print the majors table

In [45]:
# print the majors table
cur.execute("SELECT * FROM Majors")
# for row in cur:
#     print(row)
print(cur.fetchall())

[(1, 'CS'), (2, 'Physics'), (3, 'Music'), (4, 'Business')]

12. Print all student names where major is CS

In [46]:
# print all student names where major is CS
cur.execute("""SELECT StudentsDB.name FROM StudentsDB JOIN Majors ON StudentsDB.major_id = Majors.id WHERE major = 'CS'""")
print(cur.fetchall())

[('VanRossum, Guido',), ('Hopper, Grace',)]

13. What does the following code do?

In [ ]:
cur.execute(
    """SELECT StudentsDB.name  FROM StudentsDB JOIN Towns JOIN States
               ON StudentsDB.town_id = Towns.id AND Towns.state_id = States.id AND States.state = "CA" """
)
for record in cur.fetchall():
    print(record[0])

VanRossum, Guido
Lopez, Jennifer
Rice, Jerry
Kaku, Michio

14. Print all student names who live in CA and with gpa > 3.0

In [ ]:
for record in cur.fetchall():
    print(record[0])

15. For all students who live in a place starting with 'San', print: "name lives in location"

In [ ]:

for record in cur.fetchall() :

IndentationError: expected an indented block (2529696935.py, line 2)

In [ ]:
conn.close()